/* paragraph line height */
.content :where(p):not(:where([class~=not-prose], [class~=not-prose] *)) {
  margin-top: 0.66rem;
  line-height: 1.33rem;
}

/* list line height */
.content :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0.66rem;
}

.content :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) li {
  margin-top: 0.0rem;
  margin-bottom: 0.0rem;
}

/* code blocks */
.hx-mt-6 {
  margin-top: 0.66rem;
}

.hextra-code-block pre {
  text-wrap: auto;
  font-size: 1.0em;
}

/* code in headings */
.content :where(h1, h2, h3, h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) code {
  font-size: 100%;
}